*{
    margin: 0;
    padding: 0;
}

/*header*/
.wrapper{
    width: 100%;
    height: 81px;
}
ul{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
    outline: none;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
/*logo, menu nav - start*/
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(red, green, blue, alpha);
}
/*logo*/
.logo_img>img{
    margin-left: 18vh;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display: flex;
}
header>nav{
    width: 600px;
    height: 100%;
}
nav>ul{
    vertical-align: middle;
}
header ul{
    font-weight: bold;
    top: 0%;
    margin-left: -18%;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
header ul>li{
    font-size: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

/*section-1 start*/
.section-1{
    width: 100%;
    height: 720px;
    background-color: #fede22;
    position: absolute;
    top: 10;
}
/*section_1 background*/
.main_bg{
    position: relative;
    width: 1200px;
    height: 884px;
    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-bg2.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    margin: auto;
    color: #fede22;
}
.main_ment{
    position: absolute;
    top: 215px;
    width: 100%;
    font-size: 49px;
    font-weight: bolder;
    letter-spacing: 0px;
    word-spacing: -10px;
    line-height: 1.35;
    color: #333;
    -webkit-font-smoothing: antialiased;
    margin-left: 90px;
}
.sub_ment{
    position: absolute;
    top: 360px;
    left: 92px;
    font-size: 17px;
    letter-spacing: -1px;
    word-spacing: 0px;
    line-height: 1.8;
    color: #111;
}
/*store button design*/
.link_store{
    display: block;
    width: 178px;
    height: 56px;
    border: 1px solid rgba(red, green, blue, alpha);
    border-radius: 12px;
    font-size: 16.2px;
    font-weight: bold;
    line-height: 56px;
    color: #333;
    text-align: center;
    -webkit-font-smoothing:antialiased;
}
.link_store span{
    position: relative;
    top: -1px;
}
/*button position*/
.link_store>ul{
    position:absolute;
    left: 5vh;
    top: 490px;
    display: flex;
    padding-left: 40px;
}
.link_store_2{
    margin-left: 10px;
}