*{
    margin: 0;
    padding: 0;
}
body, div, ul, li, h3, p{
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
/*header*/
.wrapper{
    width: 100%;
    height: 81px;
    position: relative;
}
ul{
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
    outline: none;
}
#kakaoHead.static .container{
    width: 1440px;
    margin: 0 auto;
    background-color: #fff;
}
.container{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    transition: border .5s;
}
/*logo, menu nav - start*/
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(red, green, blue, alpha);
}
/*logo*/
.logo_img>img{
    margin-left: 18vw;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display: flex;
    position: sticky;
}
header>nav{
    width: 600px;
    height: 100%;
}
nav>ul{
    vertical-align: middle;
}
header ul{
    font-weight: bold;
    top: 0%;
    margin-left: -18%;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
header ul>li{
    font-size: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

/*section-1 start*/
.section_1{
    width: 100%;
    height: 720px;
    background-color: #fede22;
    position: absolute;
    top: 10;
}
/*section_1 background*/
.main_bg{
    position: relative;
    width: 1200px;
    height: 884px;
    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-bg2.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    margin: auto;
    color: #111;
}
.main_ment{
    position: absolute;
    top: 215px;
    width: 100%;
    font-size: 49px;
    font-weight: bolder;
    letter-spacing: 0px;
    word-spacing: -10px;
    line-height: 1.35;
    color: #333;
    -webkit-font-smoothing: antialiased;
    margin-left: 90px;
}
.sub_ment{
    position: absolute;
    top: 360px;
    left: 92px;
    font-size: 17px;
    letter-spacing: -1px;
    word-spacing: 0px;
    line-height: 1.8;
    color: #111;
}
/*store button design*/
.link_store{
    display: block;
    width: 178px;
    height: 56px;
    border: 1px solid rgba(red, green, blue, alpha);
    border-radius: 12px;
    font-size: 16.2px;
    font-weight: bold;
    line-height: 56px;
    color: #333;
    text-align: center;
    -webkit-font-smoothing:antialiased;
}
.link_store span{
    position: relative;
    top: -1px;
}
/*button position*/
.list_store>ul{
    position:absolute;
    left: 5vh;
    top: 490px;
    display: flex;
    padding-left: 40px;
}
/*.link_store_2{
    margin-left: 10px;
}*/
.img_google{
    overflow: hidden;
    background-image: url(./images/Google-play.png);
}
.img_app{
    overflow: hidden;
    background-image: url(./images/Appstore.png);
}
.list_store
.store
.img_google{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -2px 10px 0 0;
    background-position: -341px -292px;
    text-indent: 0;
    vertical-align: middle;
} 
.list_store
.link_store{
    display: block;
    width: 178px;
    height: 56px;
    border: 1px solid rgb(255, 255, 255, 3);
    border-radius: 12px;
    font-size: 16.2px;
    font-weight: bold;
    line-height: 56px;
    color: #333;
    background: #fff;
    text-align: center;
    -webkit-font-smoothing:antialiased;
}
.list_store img {
    width: 10%;
}
a:hover{
    text-decoration: underline;
}
li{
    list-style: none;
}
a:-webkit-any-link{
    cursor: pointer;
}
.nav-item.nav-item-btn #go-to-scraping{
    padding: 0 20px;
    background: #fede22;
    border: 1px solid #fede22;
}
#kakaoHead .nav-global a{
    float: none;
}
.nav-item.nav-item-btn .btn-link{
    display: inline-block;
    line-height: 44px;
    font-size: 14px;
    border-radius: 22px;
    vertical-align: middle;
}
.nav-items{   
    height: 100%;
    font-size: 0;
    text-align: right;
    margin: auto;
}
.section_2 {
    margin-top: 900px;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
}
.section_2_img {
    width: 473px;
    height: 678px;
    margin-right: 20px;
}
.section_2_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 86px;
}
.wrapper
.section_2_contents h3{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}
h3{
    margin-block-start: 1em;
    /*margin-block-end: 1em;*/
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: normal;
}
.section_2_contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 86px;
    color: #111;
}
.wrapper
.section_2_contents p{
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #666;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 13em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.wrapper
.cont_btn
.ico_arr{
    display: inline-block;
    width: 6px;
    height: 9px;
    margin: 5.5px 0 0 8px;
    vertical-align: text-top;
}
.section_2_img{
    width: 473px;
    height: 678px;
    margin-right: 20px;
}
.link_bank{
    display: block;
    background: #f6f6f6;
    width: 258px;
    height: 56px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 56px;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
}
.link_bank img{
    width: 6px;
    height: 9px;
    margin-left: 8px;
}
a:-webkit-any-link{
    cursor: pointer;
}
.section_3{
    margin-top: 900px;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
}
.section_3_contents{
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section_3_img_2{
    width: 409px;
    height: 722px;
    margin-left: -25px;
    position: relative;
    left: 20px;
}
.section_3_img{
    margin-right: -440px;
    width: 440px;
    height: 105px;
    margin-top: 500px;
}
.wrapper
.section_3_contents h3{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}
.wrapper
.section_3_contents p{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #666;
}
.wrapper
.section_3_contents
.section_3_btn_1{
    position: relative;
    bottom: 160px;
    float: left;
    width: 158px;
    height: 56px;
    margin-right: 6px;
    border-radius: 10px;
    background-color: #f6f6f6;
    font-size: 15px;
    line-height: 56px;
    color: #000;
    text-align: center;
}
.wrapper
.section_3_btn_1
.ico_arr{
    display: inline-block;
    width: 6px;
    height: 9px;
    margin: 5.5px 0 0 8px;
    vertical-align: text-top;
}
.contents_end_line {
    height: 32px;
    width: 100%;
    background-color: #fafafa;
}
.section_4{
    margin-top: 900px;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
}
.section_4_contents{
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 650px;
}
.wrapper
.section_4_contents h3{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}
.wrapper
.section_4_contents p{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #666;
}
.section_4_img{
    position: absolute;
    top: 60px;
    right: 50%;
    width: 459px;
    height: 607px;
    margin-right: 24px;
}
.wrapper
.section_4_contents
.section_4_btn_1{
    display: block;
    background-color: #f6f6f6;
    width: 258px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    color: #333;
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 160px;
}
.wrapper
.section_4_btn_1
.ico_arr{
    display: inline-block;
    width: 6px;
    height: 9px;
    margin: 5.5px 0 0 7px;
    position: relative;
    top: 2px;
    vertical-align: text-top;
}
.section_5{
    margin-top: 900px;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
}
.section_5_contents{
    position: relative;
    right: 250px;
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section_5_img{
    position: absolute;
    top: 130px;
    left: 50%;
    margin-left: 40px;
    width: 492px;
    height: 408px;
}
.wrapper
.section_5_contents h3{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}
.wrapper
.section_5_contents p{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #666;
}
.wrapper
.section_5_contents
.section_5_btn_1{
    display: block;
    background-color: #f6f6f6;
    width: 258px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    color: #333;
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 160px;
}
.wrapper
.section_5_btn_1
.ico_arr{
    display: inline-block;
    width: 6px;
    height: 9px;
    margin: 5.5px 0 0 7px;
    position: relative;
    top: 2px;
    vertical-align: text-top;
}
